<html>
<head>  </head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <body>
<div ng-app="MtaaS" data-ng-controller="MtaaS1">

	
</div>
this is dashboard
<script>
   var app=angular.module('MtaaS', []);
 app.controller('MtaaS1', ['$scope', '$http', '$window', function ( $scope,$http,$window)
 {
}]);




</script>
</body>
</html>